name: Polom  Workflow

on:
  push:
    branches:
      - 'main'
      - 'feature/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v5

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: '18'

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules         # cache all the node modules
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'  # if there is not cache hit
        run: npm install

      - name: Lint code
        run: npm run lint

  unit-testing:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: '18'

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules         # cache all the node modules
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'  # if there is not cache hit
        run: npm install

      - name: Unit Testing
        id: test-step
        run: npm test

      - name: Upload test report
        if: failure() && steps.test-step.outcome == 'failure'  # failure() means at least one of the steps failed
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test.json

  report:
    if: failure()           # if any other job fails run
    needs: [ lint, unit-testing ]
    runs-on: ubuntu-latest
    steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v4
        with:
          name: test-report
      - name: Deploy
        run: |
          cat test.json
