name: Reusable Workflow
on:
  workflow_call:
    inputs:
      artifact-name:
        description: The name of the artifact files
        required: false  # if it is true the value is needed as it will fail
        default: dist # use dist if no artifact key is given
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
      - name: Output Information
        run: ls -a
