name: Matrix Demo
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 14
      - name: Install Dependencies
        run: npm install
      - name: Build Project
        run: npm run build